#navbar-text {
    color: #AACA45;
    font-size: 18px;
}
#navbar-text:hover {
    color: #B59CFE;
    font-size: 18px;
}
#navbar-text-title {
    color: #AACA45;
    font-size: 20px;
}
#terms {
    color: #ffffff;
}
#terms p {
    color: white;
}

#menu-icon {
    color: #AACA45;
}
#menu-icon:hover {
    color: #B59CFE;
}

body {
    background-color: rgba(32, 26, 50, 0.945);
}


nav {
    background-color: #201A32;
    color: #AACA45;
    margin-bottom: 5rem;
}
main {
    margin-bottom: 15rem;
}
h1 {
    color: #AACA45;
}
h2 {
    color: #AACA45;
    font-size: 24px;
}
@media (max-width: 991px){
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
    }
}

.offcanvas {
    
    color: #AACA45;
}

#terms {
    width: 90%;
    max-width: 650px;
    align-items: center;
}

#name {
    height: 3rem;
    border: none;
    color: white;
    background-color: transparent;
}
#name:hover {
    border: none;
    height: 3rem;
    color: white;
    background-color: transparent;
}

#btn {
    width: 100px;
    justify-content: end;
    border-radius: 30px;
    margin-bottom: 1rem;
    height: 3rem;
    border:1px solid #AACA45;
    color: white;
    background-color: #AACA45;
    font-size: 20px;
}
#btn:hover {
    border-radius: 30px;
    margin-bottom: 1rem;
    height: 3rem;
    border:1px solid #B59CFE;
    color: #B59CFE;
    background-color: transparent;
}


#title-desc {
    font-size: 35px;
}
#description {
    font-size: 24px;
}
.icons:hover {
    color:#B59CFE
}

footer h2 {
    color: #AACA45;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#navmenu-app {
    color: white;
}
#navmenu-item:hover {
    color: #B59CFE;
}

svg{
    color: white;
    margin-top: 1rem;
    overflow: hidden;
}
svg:hover {
    color: #B59CFE;
}
.bi {
    color: #AACA45;
}
.bi:hover {
    color: #B59CFE;
}
#sub {
    margin-right: 6rem;
}

#subButton {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background: transparent;
    color: #AACA45;
    padding: .2rem .5rem;
    
}

#subButton:hover {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background:#AACA45;
    color: white;
    padding: .2rem .5rem;
}

#subInput {
    border-radius: 1.5rem;
    border-style: none;
    background-color: rgb(204, 204, 204);
    padding: .2rem .5rem;

}
#subInput:hover {
    background-color: rgb(158, 158, 158);

}

#sharedPost {
    color: #AACA45; 
    margin-top: 5rem
}
#sharedPost div {
    color: #AACA45; 
    text-align: center;
    margin-top: 2rem
}
#sharedPost button {
    color: #ca4545;
    background-color: transparent;
    border-style: none;

}
#sharedPost button:hover {
    color: #8c8c8c;
    background-color: transparent;
    border-style: none;
}
