#navbar-text {
  color: #AACA45;
  font-size: 24px;
}

body {
  background-color: rgba(32, 26, 50, 0.945);
}

nav {
  background-color: #201A32;
}


.custom-button {
    border: 2px solid #aaca45; /* Color del borde */
    background-color: transparent; /* Fondo transparente */
    color: #aaca45; /* Color del texto y el ícono */
    display: flex; /* Para centrar el contenido */
    align-items: center; /* Para centrar el contenido */
    justify-content: center; /* Para centrar el contenido */
    padding: 10px 20px; /* Espaciado dentro del botón */
  }
  
  .custom-button svg {
    fill: #aaca45; /* Color del ícono */
  }
  
  .custom-button:hover {
    background-color: #aaca45; /* Color de fondo cuando el puntero está encima */
    color: white; /* Color del texto cuando el puntero está encima */
  }
  
  .custom-button:hover svg {
    fill: white; /* Color del ícono cuando el puntero está encima */
  }

