#navbar-text, #navbar-text-title, #menu-icon {
    color: #AACA45;
    font-size: 1.125rem; /* 18px */
}

#navbar-text:hover, #menu-icon:hover {
    color: #B59CFE;
}

#navbar-text-title {
    font-size: 1.25rem; /* 20px */
}

#title-contactUs {
    color: #AACA45;
}
#title-contactUs p {
    color: white;
}

body {
    background-color: rgba(32, 26, 50, 0.945);
    font-size: 1rem; /* Base font size */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

nav {
    background-color: #201A32;
    color: #AACA45;
    margin-bottom: 5rem;
}
main {
    margin-bottom: 15rem;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
    }
    #name, #email, #phone {
        width: 100%;
    }
    #btn {
        width: 100%;
        font-size: 1rem;
    }
    footer h2 {
        font-size: 1.5rem;
    }
    footer a {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    footer h2 {
        font-size: 1.25rem;
    }
    footer a {
        font-size: 0.875rem;
    }
    #navbar-text, #navbar-text-title, #menu-icon {
        font-size: 1rem;
    }
}

.offcanvas {
    color: #AACA45;
}

#contact-form {
    width: 100%;
    max-width: 650px;
    align-items: center;
}
#name, #email, #phone {
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 3rem;
    width: 100%;
    max-width: 12rem;
    border: 1px solid #AACA45;
    color: white;
    background-color: transparent;
}
#name:hover, #email:hover, #phone:hover {
    border: 1px solid #B59CFE;
}

#message {
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 10rem;
    border: 1px solid #AACA45;
    color: white;
    background-color: transparent;
    width: 100%;
}
#message:hover {
    border: 1px solid #B59CFE;
}

#btn {
    width: 100%;
    max-width: 100px;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #AACA45;
    color: white;
    background-color: #AACA45;
    font-size: 1.25rem;
}
#btn:hover {
    border: 1px solid #B59CFE;
    color: #B59CFE;
    background-color: transparent;
}

#title-desc {
    font-size: 2.1875rem; /* 35px */
}
#description {
    font-size: 1.5rem; /* 24px */
}
#cards {
    margin-bottom: 5rem;
}

.card {
    background-color: rgb(32, 26, 50);
    color: white;
    height: 35rem;
}
.icons:hover {
    color: #B59CFE;
}

footer h2 {
    color: #AACA45;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#navmenu-app {
    color: white;
    padding-top: 5rem;
}

#navmenu-item:hover {
    color: #B59CFE;
}

svg {
    color: white;
    margin-top: 1rem;
    overflow: hidden;
}
svg:hover {
    color: #B59CFE;
}
.bi {
    color: #AACA45;
}
.bi:hover {
    color: #B59CFE;
}
#sub {
    margin-right: 6rem;
}

#subButton {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background: transparent;
    color: #AACA45;
    padding: 0.2rem 0.5rem;
}

#subButton:hover {
    background: #AACA45;
    color: white;
}

#subInput {
    border-radius: 1.5rem;
    border-style: none;
    background-color: rgb(204, 204, 204);
    padding: 0.2rem 0.5rem;
}
#subInput:hover {
    background-color: rgb(158, 158, 158);
}
