#navbar-text {
    color: #AACA45;
    font-size: 18px;
}

#navbar-text:hover {
    color: #B59CFE;
    font-size: 18px;
}

#navbar-text-title {
    color: #AACA45;
    font-size: 20px;
}

#title-contactUs {
    color: #AACA45;
}

#title-contactUs p {
    color: white;
}

#menu-icon {
    color: #AACA45;
}

#menu-icon:hover {
    color: #B59CFE;
}

body {
    background-color: rgba(32, 26, 50, 0.945);
}

.preloader {
    background-color: #201A32;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.loader {
    height: 160px;
    width: 160px;
    transition: all 0.5s;
}

.form-inline {
    display: flex;
    position: relative;
    justify-content: center;
    text-align:center;
    width: 20%;

  }

.form-control {
    color:#201A32; /* Cambia el color del texto del input */
    background-color: #201A32; /* Cambia el color de fondo del input */
    border: 1px solid #AACA45; /* Cambia el color del borde del input */
  }

nav {
    background-color: #201A32;
    color: #AACA45;
    margin-bottom: 0;
    position: fixed;
}

main {
    margin-top: 0;
    margin-bottom: 15rem;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
    }
}

.offcanvas {

    color: #AACA45;
}

#contact-form {
    width: 90%;
    max-width: 600px;
    align-items: center;
}

#name,
#email,
#message,
#phone {
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #AACA45;
    color: white;
    background-color: transparent;
}

#name:hover,
#email:hover,
#phone:hover {
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #B59CFE;
    color: white;
    background-color: transparent;
}

#message {
    height: 10rem;
}

#message:hover {
    height: 10rem;
    border: 1px solid #B59CFE;
}

#btn {
    width: 100px;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #AACA45;
    color: white;
    background-color: #AACA45;
    font-size: 20px;
}

#btn:hover {
    border-radius: 30px;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #B59CFE;
    color: #B59CFE;
    background-color: transparent;
}

#title-desc {
    font-size: 35px;
}

#description {
    font-size: 24px;
}

.icons:hover {
    color: #B59CFE
}

.p {
    color: white;
    font-size: 24px;
}

h1 {
    color: #AACA45;
    font-size: 24px;
    size: 5px;
}

h2 {
    color: #AACA45;
    font-size: 24px;
}

a {
    color: #201A32;
    font-size: 24px;
}

h4 {
    color: #B59CFE;
    font-size: 24px;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#nav-footer:hover {
    color: #B59CFE;
}

svg {
    color: white;
    margin-top: 1rem;
    overflow: hidden;
}

svg:hover {
    color: #B59CFE;
}

.bi {
    color: #AACA45;
}

.bi:hover {
    color: #B59CFE;
}

#sub {
    margin-right: 6rem;
}

#subButton {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background: transparent;
    color: #AACA45;
    padding: .2rem .5rem;

}

#subButton:hover {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background:#AACA45;
    color: white;
    padding: .2rem .5rem;
}

#subInput {
    border-radius: 1.5rem;
    border-style: none;
    background-color: rgb(204, 204, 204);
    padding: .2rem .5rem;
}

#subInput:hover {
    background-color: rgb(158, 158, 158);
}

iframe {
    position: relative;
    top: 5px;
    left: 100px;
}

.carouselExample {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.carousel-inner>.carousel-item>a>img {
width: 250px;
height: 650px;
text-align: center;
align-items: center;
justify-content: center
}
footer {
    margin: 40px;
}


.card {
    background-color: #B59CFE;
    border-radius: 7%;
}
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Estilo del formulario para centrarlo */
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Estilo de la barra de búsqueda */
.form-control {
    width: 250px; /* Ajusta el ancho de la barra de búsqueda */
    padding: 8px 12px; /* Ajusta el padding para hacerla más delgada */
    border-radius: 20px; /* Redondea los bordes */
    border: 1px solid #AACA45;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 8px; /* Espacio entre la barra de búsqueda y el botón */
}
/* Estilo del botón */
.btn-outline-success {
    border-radius: 20px; /* Redondea los bordes del botón */
}
/* Estilo adicional para el foco */
.form-control:focus 
@media (max-width: 768px) {
    .title-desc {
        font-size: 1.5em;
    }
    .container {
        width: 95%;
    }
    ul.list {
        padding-left: 15px;
    }
}
@media (max-width: 480px) {
    .title-desc {
        font-size: 1.2em;
    }
    figcaption.blockquote-footer {
        font-size: 0.7em;
    }
    .container {
        width: 100%;
    }
}