body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(32, 26, 50, 0.945);
}

.editprofileFondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #201A32;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de contenedor */
.form-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #B69CFE;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de elementos */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    border-radius: 15px;
}

input[type="file"],
input[type="date"] {
    margin-bottom: 16px;
    border-radius: 15px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 16px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Estilo del botón */
button,
a.button {
    font-family: fredoka;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #aac245;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

button:hover,
a.button:hover {
    background-color: #3ddb90;
    border-radius: 15px;
}

/* Ajustar diseño de forms */
form> {
    margin-bottom: 16px;
}