#navbar-text {
    color: #AACA45;
    font-size: 18px;
}
#navbar-text:hover {
    color: #B59CFE;
    font-size: 18px;
}
#navbar-text-title {
    color: #AACA45;
    font-size: 20px;
}
#title-aboutUs {
    color: #AACA45;
}
#title-aboutUs p {
    color: white;
}

#menu-icon {
    color: #AACA45;
}
#menu-icon:hover {
    color: #B59CFE;
}

body {
    background-color: rgba(32, 26, 50, 0.945);
}


nav {
    background-color: #201A32;
    color: #AACA45;
    margin-bottom: 5rem;
}

@media (max-width: 991px){
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.offcanvas {
    
    color: #AACA45;
}

#title-desc {
    font-size: 35px;
}
#description {
    font-size: 24px;
}
#cards {
    margin-bottom:5rem;
}

@media (max-width: 991px) {
    #cards {
        margin-left: 2.5rem;
    }
}

.card {
    background-color: rgb(32, 26, 50);
    color: white;
    height: 35rem;
}
.icons:hover {
    color:#B59CFE
}

footer h2 {
    color: #AACA45;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#navmenu-app {
    color: white;
}
#navmenu-item:hover {
    color: #B59CFE;
}

svg{
    color: white;
    margin-top: 1rem;
    overflow: hidden;
}
svg:hover {
    color: #B59CFE;
}
.bi {
    color: #AACA45;
}
.bi:hover {
    color: #B59CFE;
}
#sub {
    margin-right: 6rem;
}

#subButton {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background: transparent;
    color: #AACA45;
    padding: .2rem .5rem;
    
}

#subButton:hover {
    border-radius: 1.5rem;
    border-color: #AACA45;
    border-style: solid;
    background:#AACA45;
    color: white;
    padding: .2rem .5rem;
}

#subInput {
    border-radius: 1.5rem;
    border-style: none;
    background-color: rgb(204, 204, 204);
    padding: .2rem .5rem;

}
#subInput:hover {
    background-color: rgb(158, 158, 158);

}
